.App {
  text-align: center;
}

main {
  background-color: rgb(194, 194, 194);
  width: clamp(10rem, 80%, 60rem);
  margin: 2rem auto;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.content {
  /* height: 100%; */
  padding: 1rem;
}

#controls {
  background-color: rgb(230, 230, 255);
  width: 30%;
}

#output {
  background-color: rgb(255, 190, 190);
  flex-grow: 1;
}

#wheels {
  display: flex;
  justify-content: center;
}

.wheel-section {
  display: flex;
  flex-direction: column;
}