.App {
  text-align: center;
}

main {
  background-color: rgb(194, 194, 194);
  width: clamp(10rem, 80%, 60rem);
  margin: 2rem auto;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.content {
  /* height: 100%; */
  padding: 1rem;
}

#controls {
  background-color: rgb(230, 230, 255);
  width: 30%;
}

#output {
  background-color: rgb(255, 190, 190);
  flex-grow: 1;
}

#wheels {
  display: flex;
  justify-content: center;
}

.wheel-section {
  display: flex;
  flex-direction: column;
}

/* Colour picker */
.colours {
  position: relative;
}

#pallet {
  position: absolute;
  /* top: 2rem; */
  left: 50%;
  transform: translateX(-50%);
}

.colours-list {
  display: grid;
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.colour-square {
  width: 100%;
  height: 2rem;
  border-radius: .25em;
  border: .2em solid transparent;
}

.colour-square:hover {
  box-shadow: 1px 1px 1px black;
}